{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/sort-comp": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-undef": 0,
    "react/no-unused-prop-types": 0,
    "react/no-unused-state": 0,
    "react/default-props-match-prop-types": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/style-prop-object": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/label-has-for": 0,
    "prefer-destructuring": 0,
    "prefer-promise-reject-errors": 0,
    "prefer-template": 0,
    "import/first": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0,
    "camelcase": 0,
    "no-empty-pattern": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-class-assign": 0,
    "no-console": 0,
    "no-debugger": 0,
    "no-plusplus": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "no-useless-escape": 0,
    "no-useless-constructor": 0,
    "no-use-before-define": 0,
    "no-throw-literal": 0,
    "no-return-assign": 0,
    "no-mixed-operators": 0,
    "no-restricted-properties": 0,
    "no-case-declarations": 0,
    "max-len": 0,
    "one-var": 0,
    "quotes": 0,
    "quote-props": 0,
    "consistent-return": 0,
    "class-methods-use-this": 0,
    "function-paren-newline": 0,
    "global-require": 0,
    "object-curly-spacing": 0,
    "object-curly-newline": 0,
    "object-property-newline": 0,
    "object-shorthand": 0,
    "padded-blocks": 0,
    "eol-last": 0,
    "eqeqeq": 0,
    "indent": 0,
    "dot-notation": 0,
    "default-case": 0
  }
}
